body {
    background-color: #84007f;
}


.main-container {

    display: flex;
    margin: auto;
    height: 90vh;
    width: 90vw;
    justify-content: space-between;
    /* background-color: rgb(106, 0, 255); */
}

.left-container {
    width: 40%;

}

.top {
    height: 100px;
}

#clock-pic {
    background-image: url("./images/clock.png");
    background-position: left;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#heading {
    text-decoration: underline;
    font-size: 44px;
    margin-top: 24px;
    margin-left: 60px;
    color: rgb(255 255 255);
    position: absolute;
    font-family: monospace;
    font-weight: bold;
}

.middle {
    display: flex;
    background-color: rgb(255, 240, 252);
    border-radius: 12px;
    height: 200px;
    width: 100%;
    flex-wrap: wrap;




}

.middle1 {
    background-image: url("./images/sun.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left;
    width: 90%;
    text-align: left;
    margin-left: 10px;
}

label {
    font-size: 17px;
    position: relative;
    top: 30%;
    right: -12%;
}

select {
    padding: 6px 0px;
    float: right;
    position: relative;
    top: 16%;
    margin: 0px 18px;
    /* font-size: 16px; */
    text-align: center;
}

.middle2 {
    text-align: left;
    background-image: url("./images/lunch.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left;
    width: 90%;
    margin-left: 10px;

}

.middle3 {

    text-align: left;
    background-image: url("./images/nap.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left;
    margin-left: 10px;
    width: 90%;

}

button {
    margin-top: 33px;
    padding: 20px 40px;
    background-image: linear-gradient(to bottom, #ffffff, #fe58a0);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


.right-container {

    width: 50%;
}



.top-time {


    border-radius: 12px;
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 255);
}

span#time-h {
    color: rgb(0, 0, 0);
    margin-top: 32px;
    position: absolute;
    margin-left: 27px;
    font-size: 20px;
}



.change-cnt {
    color: rgb(255, 0, 43);
    border-radius: 12px 12px 0px 0px;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
}

#img-container {
    background-image: url("/images/morning.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 12px 12px;
    width: 100%;
    height: 300px;
    background-color: coral;
}

#clock {
    height: 63px;
    /* margin: auto; */
    background-color: rgb(205, 64, 191);

    position: absolute;
    display: flex;
    margin-left: 9%;
    justify-content: center;
    align-content: space-between;
    margin-top: 14px;
    border-radius: 12px;
    text-align: center;
    width: 30%;
    color: aliceblue;
    font-size: 40px;
}

.div1 {
    width: 25%;
    border-right: 1px solid violet;
    padding: 0px 20px;
}

.div2 {
    width: 25%;
    border-right: 1px solid violet;
    padding: 0px 20px;
}

.div3 {
    width: 25%;
    border-right: 1px solid violet;
    padding: 0px 20px;
}

.div4 {
    width: 25%;

    padding: 0px 20px;

}

#am {
    margin-left: -22px;
    position: absolute;
    margin-top: 10px;
    font-size: 30px;

}

p#content {
    font-size: xx-large;
    text-align: center;
    font-family: sans-serif;
    padding-top: 10px;
}



@media (max-width:600px) {
    .main-container {
          flex-direction: column;
          width: 100%;
    }

    .left-container,
    .right-container {
          width: 100%;
    }

    .top-time {
          margin-top: 50px;
    }

    #clock {
          /* margin-left: 80px; */
          width: 80%;
    }
}

@media (max-width:460px) {
    label {
          /* display: none; */
          font-size: 15px;
    }

    select {
          width: 44%;
          font-size: 15px;
         
    }

    #clock {
        top: 14px;
        margin-left: 14px;
        width: 70%;
        position: relative;
        left: 41px;
    }

    #time-h {
          display: none;
    }
}